@{
    ViewData["Title"] = "Azure Blob storage";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This image is currently stored on the disk. We'll store it in Azure Blob Storage instead.</p>
<br/>
<img src="/images/Storage/scared-surprised-cat.jpg" alt="Very Scared & Suprised Cat">
<br/>