@{
    ViewData["Title"] = "Azure Functions";
}
<img src="~/images/AzureFunctions/azure-functions-logo1.png" style="float: right; max-width: 300px; margin:10px 0 10px 10px;" />
<h2>@ViewData["Title"] - Serverless in the cloud</h2>
<h1>Woohoo - it worked</h1>